[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[merge]
  conflictStyle = zdiff3
[user]
  name = Ron Huang
  email = ron@hng.tw
[core]
  autocrlf = false
  editor = emacsclient -t -a=\\\"\\\"
  pager = delta
[color]
  ui = true
[pull]
  ff = only
[init]
  defaultBranch = main
[rerere]
  enabled = true
  autoupdate = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  last = log -1 --stat
  cp = cherry-pick
  co = checkout
  cl = clone
  ci = commit
  st = status
  br = branch
  unstage = reset HEAD --
  df = diff
  dc = diff --cached

  lg = !"git lg1"
  lg1 = !"git lg1-specific --all"
  lg2 = !"git lg2-specific --all"
  lg3 = !"git lg3-specific --all"

  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar) %C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)% s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
  please = push --force-with-lease
  commend = commit --amend --no-edit
[url "ssh://git@github-partner.azc.ext.hp.com/"]
  insteadOf = https://github-partner.azc.ext.hp.com/
[url "ssh://git@github.azc.ext.hp.com/"]
  insteadOf = https://github.azc.ext.hp.com/

[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINnNq+JGOGQLDiFyMyqVxe7urgtQz2/E2VMY0Dg9DHqk
[gpg]
  format = ssh
[commit]
  gpgsign = true
{{- if eq .chezmoi.os "windows" }}
[gpg "ssh"]
  program = {{ if ("C:/Program Files/1Password/app/8" | lstat) }}"C:/Program Files/1Password/app/8/op-ssh-sign.exe"{{ else }}"{{ .chezmoi.homeDir }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"{{ end }}
{{- else if eq .chezmoi.os "linux" }}
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
{{- end }}
[gpg "ssh"]
  allowedSignersFile = "{{ .chezmoi.homeDir }}/.config/git/allowed_signers"

{{- if eq .chezmoi.os "windows" }}
[core]
  sshCommand = 'C:\\Program Files\\OpenSSH\\ssh.exe'
[diff]
  tool = bc
[difftool "bc"]
  path = c:/Program Files/Beyond Compare 4/bcomp.exe
[merge]
  tool = bc
[mergetool "bc"]
  path = c:/Program Files/Beyond Compare 4/bcomp.exe
{{- end }}
