[user]
name = "Ron Huang"
email = "ron@hng.tw"

[ui]
editor = "emacsclient -t -a=\"\""
pager = "less -FRX"
default-command = "log"

[signing]
behavior = "drop"
backend = "ssh"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICWZuTXkLx/CyLTyxKx57lmDMTSR+f8fg0qX2iqEK8Ul"
{{- if eq .chezmoi.os "windows" }}
backends.ssh.program = "{{ if ("C:/Program Files/1Password/app/8" | lstat) }}C:/Program Files/1Password/app/8/op-ssh-sign.exe{{ else }}{{ .chezmoi.homeDir }}/AppData/Local/1Password/app/8/op-ssh-sign.exe{{ end }}"
{{- else if eq .chezmoi.os "linux" }}
backends.ssh.program = "/opt/1Password/op-ssh-sign"
{{- end }}
backends.ssh.allowed-signers = "{{ .chezmoi.homeDir }}/.config/git/allowed_signers"

[git]
sign-on-push = true
